/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #eee;
}
html {
    font-size: 93.75%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 1px solid red;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
/*Links e Buttons*/
a {
    color: #49aa26;
    text-decoration: none;
    font-weight: 900;
}
a:hover {
    color: #3dd705
}
.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}
.pesquisa {
    float: right;
    height:2.7rem;
    margin-top: -37px;
    border: none;
}
.form-pesquisa .divida {
    width: 5rem;
}
button {
    width: 100%;
    height: 50px;
    color: #fff;
    border: none;
    background-color: #49aa26;
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}
button:hover {
    background-color: #3dd705;
}
.button.cansel {
    width: 100%;
    height: 50px;
    color: #e92929;
    border: 2px solid #e92929;
    background-color: none;
    text-align: center;
    padding: 15px;
    border-radius: 0.25rem;
}
.button.cansel:hover {
    color: #e47f7f;
    border: 2px solid #e47f7f;
}
/*Header*/
header {
    width: 100%;
    height: 150px;
    color: #fff;
    background: linear-gradient(-41deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
header {
    text-align: center;
}
#logo {
    padding-top: 30px;
}
/*Section Balance*/
#balance {
    max-width: 50%;
    margin: auto;
    position: relative;
    top: -50px;
}
#balance .card {
    text-align: left;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
#balance .card:last-child {
    color: #fff;
    background-color: #099e09;
}
#balance .card:last-child h3 {
    color: #fff;
}
#balance .card:last-child p {
    position: relative;
}
#balance .card:last-child input {
    float: right;
    cursor: pointer;
    display: none;
}
.card:last-child label {
    float: right;
    width: 30px;
    position: relative;
    float: right;
    cursor: pointer;
    z-index: 1;
    margin-right: 20px;
}
#check:checked ~ #saldo{
    visibility: hidden;
}
#balance .card h3 {
    font-weight: 600;
    font-size: 0.75em;
    color: #131313;
    padding: 10px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#balance .card p {
    font-weight: 600;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
}
.saida {
    color: red;
}
.entrada {
    color: blue;
}
/*Section transaction*/
#transaction {
    max-width: 50%;
    margin: auto;
}
#transaction .sub-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}
#transaction #data-table {
    width: 100%;
    border-spacing: 0 0.5em;
}
#transaction #data-table tbody tr{
    background-color: #fff;
    font-size: 1em;
    opacity: 0.6;
}
#transaction #data-table #ordenar, 
#transaction #data-table label {
    cursor: pointer;
}
#transaction #data-table tr td {
    padding: 1rem 2rem;
    font-size: 1em;
    border-spacing: 0;
    font-weight: normal;
}
#transaction #data-table tr td:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}
#transaction #data-table tr td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}
#transaction #data-table tbody tr:hover  {
    opacity: 1;
}
#transaction #data-table tbody td img {
    cursor: pointer;
} 
@media only screen and (min-width: 781px) {
    html {
        font-size: 87.5%;
    }
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
@media only screen and (max-width: 780px) {
    #balance {
        max-width: 70%;
        margin: auto;
        position: relative;
        top: -50px;
    }
    .card:last-child img {
        width: 30px;
    }
    #transaction {
        max-width: 100%;
        margin: 0.5rem;
    }
    #transaction .sub-title {
        margin-left: 1rem;
    }

    #transaction #data-table tr td{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
}
/*Estilo Modal */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.modal {
    background-color: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}
#form {
    max-width: 500px;
}
#form h2 {
    margin-top: 0;
}
#form form input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}
.input-group {
    margin-top: 0.8rem;
}
.divida {
    float:right;
    position: relative;
    margin-top: -37px;
    width: 4rem;
    height: 2.6rem;
    background-color: red;
}
.input-group small {
    opacity: 0.4;
}
.input-group.actions {
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
.input-group.actions .button,
.input-group.actions button {
    width: 48%;
    text-align: center;
}
/*Footer*/
footer {
    text-align: center;
}
footer h5 {
    padding: 50px;
}
